/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
	vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  /* this is the page background */
  background-color: #ffffff;
}

.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px;
}


header {
  background-color: #707070;
}

.cd-logo {
  /* logo box style */
  background-color: #67CFAC;
  width: 180px;
}


.cd-main-nav {
  /* main navigation background color - full screen on small devices */
  background: #19191a;
}
.cd-main-nav li a {
  color: #ffffff;
  border-color: #262627;
}

  .cd-main-nav li a.selected {
    color: #ffffff;
    box-shadow: 0 2px 0 #5f8ee4;
  }
  .no-touch .cd-main-nav li a:hover {
    color: #ffffff;
  }


.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* upper and lower lines */
  background-color: #ffffff;
}

.nav-is-visible .cd-nav-trigger span {
  /* hide line in the center on mobile when nav is visible */
  background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-nav-trigger span::before, .nav-is-visible .cd-nav-trigger span::after {
  /* preserve visibility of upper and lower lines - close icon */
  background-color: white;

}
.no-touch .cd-download:hover {
  background-color: #3f3f41;
}

.cd-download span::before {
  /* right arrow color */
}

main > h1 {
  color: #19191a;
}
h1, h2 {
font-family: 'Source Sans Pro', sans-serif;
    color: #303030;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em;
}


h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}

section > h2::before {
  /* number before each section title */
  color: silver;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #58585b;
}
p {
  color: #505050;
}

a {
  color: #ffffff;
}

.btn {
  border: none;
  box-shadow: none;
  border-radius: .25em;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  padding: .6em 2.2em;
  cursor: pointer;
  background: #5f8ee4;
}
.btn:focus {
  outline: none;
}
.no-touch .btn:hover {
  background: #759de8;
}
.btn.btn-success {
  background: #6fce72;
}
.no-touch .btn.btn-success:hover {
  background: #82d485;
}
.btn.btn-alert {
  background: #e4655f;
}
.no-touch .btn.btn-alert:hover {
  background: #e87a75;
}


*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea, select {
  font-family: "font-family: 'Source Sans Pro', sans-serif";
  font-size: 1.6rem;
}

header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
header nav {
  display: inline-block;
}
@media only screen and (min-width: 1024px) {
  header {
    height: 80px;
  }
  header:after {
    content: "";
    display: table;
    clear: both;
  }
}

.cd-logo {
  display: inline-block;
  height: 100%;
  position: relative;
}
.cd-logo img {
  position: absolute;
  display: block;
  top: 25%;
    left: 15%;   
}

.cd-nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.cd-nav-trigger span {
  position: absolute;
  height: 2px;
  width: 20px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background-color 0.3s 0.3s;
  -moz-transition: background-color 0.3s 0.3s;
  transition: background-color 0.3s 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration in WebKit */
}

  .cd-nav-trigger {
    display: none;
  }

.cd-main-nav li a {
  display: block;
  font-size: 1.8rem;
  padding: 1em 0;
  border-bottom-width: 1px;
  border-style: solid;
}
.cd-main-nav li:first-of-type a {
  border-top-width: 1px;
}
  .cd-main-nav {
    position: static;
    display: table;
    width: auto;
    height: 80px;
    background: transparent;
    padding: 0 2em;
    text-align: left;
  }
  .cd-main-nav li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1em;
  }
  .cd-main-nav li a {
    display: inline-block;
    font-size: 1.6rem;
    padding: .4em .2em;
    border-bottom: none;
  }
  .cd-main-nav li:first-of-type a {
    border-top: none;
  }
}
  .cd-main-nav {
    display: none;
  }

  .cd-download {
    display: block;
  }
  .cd-download span {
    opacity: 0;
    visibility: hidden;
  }

main {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
}
main > h1 {
  text-align: center;
  margin: 3em 0;
}

    padding-top: 80px;
  }

  main > h1 {
    position: fixed;
    top: 0;
    left: 50%;
    height: 80px;
    line-height: 80px;
    width: 400px;
    margin: 0 0 0 -200px;
    font-size: 2.6rem;
    z-index: 20;
  }
}

section {
  margin: 3em 0;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
section:nth-of-type(1) h2::before {
  content: '1. ';
}
section:nth-of-type(2) h2::before {
  content: '2. ';
}
section:nth-of-type(3) h2::before {
  content: '3. ';
}
section:nth-of-type(4) h2::before {
  content: '4. ';
}
section:nth-of-type(5) h2::before {
  content: '5. ';
}
section:nth-of-type(6) h2::before {
  content: '6. ';
}
  section {
    margin: 3em 0 5em;
  }
}
  section {
    width: 48%;
    float: left;
    margin: 0 4% 4em 0;
  }
  section:nth-of-type(2n) {
    margin-right: 0;
  }
}

/* xBranding section - basic style */
.cd-branding .cd-box {
  margin-bottom: 1em;
      padding: 6px;
}
.cd-branding img {
  display: block;
  width: 100%;
}
.cd-branding ul:last-of-type {
  padding-top: .6em;
}
.cd-branding ul:last-of-type li {
  display: inline-block;
  margin-right: 1em;
}
.cd-branding ul:last-of-type li:nth-of-type(1) img {
  width: 90px;
  height: 90px;
  border-radius: 1em;
}
.cd-branding ul:last-of-type li:nth-of-type(2) img {
  width: 60px;
  height: 60px;
  border-radius: .6em;
}
.cd-branding ul:last-of-type li:nth-of-type(3) img {
  width: 32px;
  height: 32px;
  border-radius: .4em;
}
.cd-branding ul:last-of-type li:nth-of-type(4) img {
  width: 16px;
  height: 16px;
  border-radius: .2em;
}
  .cd-branding .cd-box {
    width: 46%;
    float: left;
  }
  .cd-branding .cd-box:nth-of-type(1n) {
    margin-right: 20px;
  }
  .cd-branding ul:last-of-type {
    clear: left;
  }
  .cd-branding ul:last-of-type li {
    margin-right: 3em;
  }

/* xColor section - basic style */
.cd-colors li {
  text-align: center;
  float: left;
}
.cd-colors li:nth-of-type(1n) {
  margin-right: 1px;
    text-align: center;
}
.cd-colors .cd-color-swatch {
  position: relative;
  width: 100%;
  padding: 50% 0;
    border: 1px solid #dcdcdc;
}

.cd-colors .cd-color-swatch::before, .cd-colors .cd-color-swatch::after {
  /* lighter and darker color shades of the same swatch */
  content: '';
  position: absolute;
  bottom: 0;
}
.cd-colors .cd-color-swatch::before {
  left: 0;
}
.cd-colors .cd-color-swatch::after {
  right: 0;
}
.cd-colors b {
  display: block;
  padding: .6em 0;
}
.cd-colors li:nth-of-type(1) .cd-color-swatch {
  background: #ED6B86;
}
.cd-colors li:nth-of-type(2) .cd-color-swatch {
  background: #FAD4C0;
}
.cd-colors li:nth-of-type(3) .cd-color-swatch {
  background: #67CFAC;
}
.cd-colors li:nth-of-type(4) .cd-color-swatch {
  background: #707070;
}
.cd-colors li:nth-of-type(5) .cd-color-swatch {
  background: #F3F3F3;
}
.cd-colors li:nth-of-type(6) .cd-color-swatch {
  background: #FFFFFF;
}

.cd-colors li:nth-of-type(7) .cd-color-swatch {
  background: #B3E7D6;
}

  .cd-colors li {
    width: 16%;
    float: left;
  }
    
  .cd-colors li:nth-of-type(1n) {
    margin-right: 6px;
  }
  .cd-colors li:nth-of-type(6n) {
    margin-right: 0;
  }
    
.cd-typography .cd-box,
.cd-buttons .cd-box,
.cd-icons .cd-box,
.cd-form .cd-box {
  padding: 1em;
}


/* xTypography section - basic style */
.cd-typography h1::before {
  content: 'Source Sans Pro - ';
  color: #ED6B86;
}

.button {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	border-radius: 2px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	position: center;
    top: 50%;
        font-weight: bold;
        font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
	margin: 15px;
}

.action-button {
   border: 2px solid #67CFAC;
	width: 20%;
	background: #67CFAC;
 	font-size: 14px;
	font-style:normal;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px 5px;
	margin-top: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;   
}
    
/* xIcons section - basic style */
.box-icon {
    background: #67CFAC;
    border-radius: 3px;
    width: 50%;
    height: 65px;
      float: left;  
    color: #ffffff;
    text-align: center;
}
    
.box-icon2 {
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    width: 45%;
    height: 65px;
        float: left; 
    margin-left: 10px;
    color: #ED6B86;
    text-align: center;
}

.cd-icons li {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  margin:20px;
    width: 32px;  
}

/* xForm section - basic style */
    #msform .action-button {
	width: 50%;
	background: #67CFAC;
 	font-size: 14px;
	font-style: normal;
	text-transform: uppercase;
	color: #ffffff;
	border: 0 none;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px 5px;
	margin-top: 15px;
}
    
 input, #msform textarea {
	padding: 15px;
	border: 1px solid #67CFAC;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 40%;
	box-sizing: border-box;
	color: #707070;
	font-size: 13px;
	font-style: italic;
     margin: 5px;
}
    .checkmark{
        color:#67CFAC;
    }
    
    
#msform .action-button:hover, .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #67CFAC;
}
    