@charset "UTF-8";
/* CSS Document */

body {
	background-color: #67CFAC;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100px;
	width: 100px;
}

.radial {
	position: absolute;
	height: 10px;
	width: 30px;
	border-radius: 5px;
	background-color: #67CFAC;
	left: -15px;
	transform: rotate(0deg);
	transform-origin: 65px;
	transition:background 1s, box-shadow 1s;
}

.glow{
	background: #ffffff;
	box-shadow: 0 0 25px 2px #f3f3f3;
}

