@charset "UTF-8";
/* CSS Document */


.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100px;
	width: 115px;
}

.radial {
	position: absolute;
	height: 10px;
	width: 30px;
	border-radius: 5px;
	left: 100%;
	transform: rotate(0deg);
	transform-origin: 65px;
	transition:background 1s, box-shadow 1s;
}

.glow{
	background: #ffffff;
	box-shadow: 0 0 25px 2px #f3f3f3;
}

@media only screen and (max-width: 600px){
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
		}
}
