@charset "utf-8";
/* CSS Document */


body {
	background: #f3f3f3;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
  	padding: 0;
}

html {
	height: 100%;
}

a{
  	text-decoration: none;
}

header{
  	display: flex;
  	flex-direction: colum;
  	width: 100%;
  	background: #67CFAC;
  	justify-content: center; 
  	align-item: center;
    text-align: center;
  	top: 0px;
	left: 0px;
  	margin-bottom: 40px;
}

img{
	padding-top: 5%;
	position: center;
	justify-item: center;
	width: 60%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 30px;
	text-align: left;
}

.text1 {
	color: #67CFAC;
	font-size: 25px;
	position: center;
	font-weight: bold;
	margin-top: 10%;
}
 

.text2 {
    color: #707070;
	font-size: 18px;
	text-decoration: none;
	margin-top: 15px;
}



.pin{
	display: inline-flex;
 	justify-content: center; 
  	align-item: center;
	margin-top: 10%;
  	margin-bottom: 10px;
}

input[type=password] {
	width: 80px;
	padding: 2px;
  	display: inline-block;
	border: 1px medium #67CFAC;
	font-size: 20px;
	line-height: 0.5;
	text-align: center;
	letter-spacing: 0.5em;
	color: #707070;
}

.text3 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
  	text-align: center;
  	text-decoration: none;
	margin-top: 0%;
}




