@charset "utf-8";
/* CSS Document */


body {
	background: #67CFAC;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
  	padding: 0;
	
}


html {
	height: 100%;
}

header{
  	display: flex;
  	width: 100%;
	margin-top: 25%;
  	color: #67CFAC;
  	justify-content: center; 
  	margin-bottom: 0px;
}

img{
	width: 300px;
	text-align: center;
}

.wrapper {
	justify-content: center;
	text-align: center; 
	margin-top: 30%;
}

.text5 {
  	font-size: 25px;
	font-weight: 600;
  	color: #ffffff;
  	text-align: center;
	
}


