@charset "utf-8";
/* CSS Document */


body {
	background: #67CFAC;
	font-family: 'Source Sans Pro', sans-serif;
}

html {
	height: 100%;
}

img{
	padding: 10px 40px;
	top: 200px;
	justify-item: center;
}

header{
  display: flex;
  flex-direction: colum;
  font-size: 25px;
  width: 100%;
  min-hieght: 500px;
  color: #67CFAC;
  justify-content: center; 
  align-item: center;
  margin-top: 0px;
  margin-bottom: 40px;
}


p{
  display: flex;
  flex-direction: colum;
  font-size: 25px;
  width: 100%;
  min-hieght: 500px;
  color: #67CFAC;
  justify-content: center; 
  align-item: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

p2{
  font-size: 16px;
  width: 100%;
  min-hieght: 500px;
  color: #707070;
  text-align: left;
  margin-left: 35px;
  margin-top: 0px;
  margin-bottom: 40px;
  text-decoration: none;
}

p3{
  font-size: 16px;
  width: 100%;
  min-hieght: 500px;
  color: #707070;
  text-align: right;
  margin-left: 260px;
  margin-top: 0px;
  margin-bottom: 40px;
  text-decoration: none;
}

p4{
  font-size: 35px;
  width: 100%;
  min-hieght: 500px;
  color: #67CFAC;
  text-align: right;
  margin-left: 120px;
  text-decoration: none;
}

p5{
  font-size: 25px;
  width: 100%;
  min-hieght: 500px;
  color: #707070;
  text-align: right;
  margin-left: 55px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.pin{
  justify-content: center; 
  align-item: center;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 90px;
}