@charset "utf-8";
/* CSS Document */


body {
	background: #67CFAC;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
  	padding: 0;
	
}


html {
	height: 100%;
}

header{
  	display: flex;
  	flex-direction: colum;
  	width: 100%;
	margin-top: 10%;
  	color: #67CFAC;
  	justify-content: center; 
  	align-item: center;
  	margin-bottom: 0px;
}

img{
	padding: 10px 40px;
	top: 40%;
	justify-item: center;
}

.wrapper {
	justify-content: center;
	text-align: center; 
	margin-top: 30%;
}

p5{
  	font-size: 30px;
	font-weight: 600;
  	color: #ffffff;
  	text-align: center;
	
}



