@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	background: #F3F3F3;
	font-family: 'Source Sans Pro', sans-serif;

swipe{
	font-size: 20;
	font-weight: bold;
	box-shadow: inset 0px 1px 0px 0px #FFFFFF;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
}